<nav class="navBar">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/profile">Profile </a>
        </li>
        <li id="logout">
            <form action="/logout" method="POST">
                <button type="submit" id="logout-button">Logout</button>
            </form>
        </li>
    </ul>
</nav>