<%- include('partials/header', { title: "Profile" }) %>
    <%- include('./partials/authNav.ejs') %>
        <h1>Profile</h1>
        <%= username %>
            <%- include('./partials/footer.ejs') %>